@import '../../paleta.scss';

header{
  .menu{
    background-color: $primary-color;
    display:flex;
    align-items:baseline;
    .cabecera{
      width: 100vw;
      display: flex;
      justify-content: space-around;

      img{

        width: 80px;
        padding: 3px;
        
        &:hover{
          -webkit-transform: rotateY(180deg);
          -webkit-transform-style: preserve-3d;
          transform: rotateY(180deg);
          transform-style: preserve-3d;
        }
      }
      h1{

        font-size: 3em;
        font-family:'Times New Roman', Times, serif;
        font-weight:$font-weight-primary;

        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    ul{
      background-color: $secondary-color;
      height: 40px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 50vw;

      li{
        list-style: none;

        a{
          width: 100vw;
          border-radius: 40%;

          padding: 0.5em;
          color:white;
          text-decoration: none;
          &:hover{
            background-color: #A6411C;
          }

        }
      }
    }
    nav{
      width: 100vw;

      p{
       padding: 20px;
        font: {
          size: 20px;
          family:monospace;
          weight: $font-weight-primary;
        };

      }
    }
  }
}
